<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hy.ggank">

     <uses-permission android:name="android.permission.INTERNET"/>

     <application
          android:name=".application.MyApplication"
          android:allowBackup="true"
          android:icon="@mipmap/ggank_icon"
          android:label="@string/app_name"
          android:roundIcon="@mipmap/ggank_icon"
          android:supportsRtl="true"
          android:theme="@style/NoActionBarTheme">
          <activity android:name=".MainActivity">
               <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
               </intent-filter>
          </activity>
          <!-- 内容详情 -->
          <activity
               android:name=".ui.content.DescContentActivity"
               android:launchMode="singleTask"/>
          <!-- 图片详情 -->
          <activity
               android:name=".ui.content.ImageContentActivity"
               android:launchMode="singleTask"/>
          <!-- 更多福利 -->
          <activity
               android:name=".ui.welfare.WelfareActivity"
               android:launchMode="singleTask"/>
          <!-- 收藏 -->
          <activity android:name=".ui.collection.CollectionActivity"/>
          <!-- 搜索 -->
          <activity android:name=".ui.search.SearchActivity"/>
     </application>

</manifest>